<!DOCTYPE html>
<html lang="en" ng-app="myDishApp">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
    <!-- build:css styles/main.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	
    <![endif]-->
    
    
    
    <!-- build:js scripts/main.js -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app app Excercise 2 before Forms validation- Copy.js"></script>
    <!-- endbuild -->
</head>

<body>
<div> 
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12">			
            </div>
            <div class="row row-content" ng-controller="MyDishControl">
                <b>{{testDisplay}}</b><br />


                <ul class="nav nav-tabs">
                    <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right" type="button">
                        {{showDetails ? 'Hide Details':'Show Details'}}
                    </button>
                    <li ng-class="{active:makeToActiveClass(1)}">
                        <a ng-click="select(1)">All Test Modify Dishes</a>
                    <li ng-class="{active:makeToActiveClass(2)}"> <a ng-click="select(2)">Veg Dishes</a>
                    <li ng-class="{active:makeToActiveClass(3)}">
                        <a ng-click="select(3)">Non - Veg Dishes</a>
                        <ul>
                            <li ng-repeat="dish in dishes | filter:filtText">
                                <img ng-src="{{dish.image}}" alt="dishe image" />
                                <b>
                                    <p>Dish name is {{dish.name + '. Prize is ' + dish.price}}</p>
                                    <p ng-show="showDetails">Dish name is {{dish.name + '. Prize is ' + dish.price}}</p>
                                    <br />
                                    <p> {{dish.price| currency}} </p>
                            </li>
                            <br />
                        </ul>
                        <ul>


            </div>
</div>
</div>


</div>
</body>

</html>
